{% extends 'base.html' %}


{% block title %}Secret Page!{% endblock %}

{% block content %}
<h1>You Made It</h1>
<h3>{{user.username}}</h3>
<h3>{{user.email}}</h3>
<h3>{{user.first_name}} {{user.last_name}}</h3>
<form action = '/users/{{user.username}}/feedback/add'>
    <button>Add Feedback</button>
</form>
<form action = '/logout'>
    <button method = 'submit'>Logout</button>
</form>


<h3>Feedback</h3>
{% for post in feedback %}
<p>
<b>{{post.title}}</b>
{{post.content}}
 - {{post.username}}
{% if post.username == user.username %}
<form style='display:inline;' action = '/feedback/{{post.id}}/update' method = 'POST'>
<button>Edit</button>
</form>
<form style="display:inline;" action = '/feedback/{{post.id}}/delete' method = 'POST'>
<button>Delete</button>
</form>
{% endif %}
</p>
{% endfor %}

<form method = 'POST' action = '/users/{{user.username}}/delete'>
    <button>Delete User Profile</button>
</form>
{% endblock %}